<mat-card class="card-md">
  <mat-card-header fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
    <button color="accent" mat-button mat-icon-button>
      <mat-icon>person</mat-icon>
    </button>
    CREAR USUARIO
  </mat-card-header>
  <mat-card-content>
    <form (submit)="store()" [formGroup]="userGroup" class="form">
      <mat-form-field>
        <mat-select formControlName="tipo_usuario" placeholder="Elegir vehiculo asignado">
          <mat-option *ngFor="let tipo of tipoUsuario" [value]="tipo.key">
            {{tipo.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input #nombres formControlName="nombres" matInput maxlength="150" placeholder="Nombres">
        <mat-hint align="end">{{nombres.value?.length || 0}}/150</mat-hint>
        <mat-error *ngIf="userGroup.get('nombres').status == 'INVALID'">El nombre es obligatorio</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input #apellidos formControlName="apellidos" matInput maxlength="150" placeholder="Apellidos">
        <mat-hint align="end">{{apellidos.value?.length || 0}}/150</mat-hint>
        <mat-error *ngIf="userGroup.get('apellidos').status == 'INVALID'">El apellido es obligatorio</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input #carnet formControlName="carnet" matInput maxlength="10" placeholder="Carnet">
        <mat-hint align="end">{{carnet.value?.length || 0}}/10</mat-hint>
        <mat-error *ngIf="userGroup.get('carnet').status == 'INVALID'">El carnet es obligatorio</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input #cuenta formControlName="cuenta" matInput maxlength="20" placeholder="Cuenta">
        <mat-hint align="end">{{cuenta.value?.length || 0}}/20</mat-hint>
        <mat-error *ngIf="userGroup.get('cuenta').status == 'INVALID'">La cuenta es obligatoria</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input #password [type]="hide ? 'password' : 'text'" formControlName="password" matInput maxlength="20"
               placeholder="Password">
        <mat-icon (click)="hide = !hide" matSuffix>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-hint align="end">{{password.value?.length || 0}}/20</mat-hint>
        <mat-error *ngIf="userGroup.get('password').status == 'INVALID'">El password es obligatorio</mat-error>
      </mat-form-field>

      <div class="form-group" fxLayout="row" fxLayoutGap="5px">
        <button [routerLink]="['/usuario/listar']" fxFlex="auto" mat-raised-button>
          <mat-icon color="warn">undo</mat-icon>
          ATRÁS
        </button>
        <button (click)="store()" [disabled]="userGroup.invalid" fxFlex="auto"
                mat-raised-button>
          <mat-icon color="accent">save</mat-icon>
          GUARDAR
        </button>
      </div>

    </form>
  </mat-card-content>
</mat-card>
