<mat-toolbar class="toolbar" style="background-color: rgba(255, 255, 255, 0.623)">
  <mat-toolbar-row>
    <img height="32" src="assets/logo_oep.jpeg">

    <span>&nbsp;&nbsp;&nbsp;&nbsp;Sistema GUV</span>

    <span class="spacer"></span>

    <button *ngIf="authService.isAuthenticated()" mat-button matTooltip="Asignacion de Vehiculos"
            routerLink="/asignacion-vehiculo">
      <mat-icon>person_add</mat-icon>
      Asignacion Vehículo
    </button>
    <button *ngIf="authService.isAuthenticated()" mat-button matTooltip="Vehiculos" routerLink="/vehiculo">
      <mat-icon>drive_eta</mat-icon>
      Vehículo
    </button>
    <!--    <button *ngIf="authService.isAuthenticated()" mat-button matTooltip="Mantenimientos"
                routerLink="/mantenimiento">
          <mat-icon>local_car_wash</mat-icon>
          Mantenimientos
        </button>-->
    <button *ngIf="authService.isAuthenticated()" mat-button matTooltip="Conductores" routerLink="/chofer">
      <mat-icon>face</mat-icon>
      Choferes
    </button>
    <button *ngIf="authService.isAuthenticated()" mat-button matTooltip="Estaciones de Servicio"
            routerLink="/estacion-servicio">
      <mat-icon>local_gas_station</mat-icon>
      Estaciones de Servicio
    </button>
    <button *ngIf="authService.isAuthenticated()" mat-button matTooltip="Talleres Mecanicos"
            routerLink="/taller-mecanico">
      <mat-icon>build</mat-icon>
      Talleres Mecánicos
    </button>
    <button *ngIf="authService.isAuthenticated()" [matMenuTriggerFor]="usuarios" mat-icon-button
            matTooltip="Administracion">
      <mat-icon>settings</mat-icon>
    </button>
    <mat-menu #usuarios="matMenu">
      <button mat-menu-item routerLink="/usuario">
        <mat-icon>person</mat-icon>
        <span>Usuarios</span>
      </button>
      <button (click)="logout()" mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>Cerrar Sesión</span>
      </button>
    </mat-menu>
    <!--
    <a routerLink="/categoria">CATEGORIAS</a>
    <a routerLink="/ubicacion">NOTIFICACIONES</a>
    <a routerLink="/ubicacion">USUARIOS</a>-->
    <!--<mat-icon class="icon">account_circle</mat-icon>-->

  </mat-toolbar-row>
</mat-toolbar>
<div *ngIf="router.url !== '/login'" class="secondary-menu"></div>
<router-outlet></router-outlet>
