<mat-card class="card-md">
  <mat-card-header fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
    <button color="accent" mat-button mat-icon-button>
      <mat-icon>local_gas_station</mat-icon>
    </button>
    CREAR ESTACIÓN DE SERVICIO
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="estacionServicioGroup">
      <mat-form-field class="divider">
        <input #razon_social formControlName="razon_social" matInput maxlength="150" placeholder="Razon social">
        <mat-hint align="end">{{razon_social.value?.length || 0}}/150</mat-hint>
        <mat-error *ngIf="estacionServicioGroup.get('razon_social').status == 'INVALID'">La razon social es
          obligatoria
        </mat-error>
      </mat-form-field>
      <mat-form-field class="divider">
        <input #nit formControlName="nit" matInput maxlength="15" placeholder="NIT">
        <mat-hint align="end">{{nit.value?.length || 0}}/15</mat-hint>
        <mat-error *ngIf="estacionServicioGroup.get('nit').status == 'INVALID'">El NIT es obligatorio</mat-error>
      </mat-form-field>
      <mat-form-field class="divider">
        <input #propietario formControlName="propietario" matInput maxlength="100" placeholder="Propietario">
        <mat-hint align="end">{{propietario.value?.length || 0}}/100</mat-hint>
        <mat-error *ngIf="estacionServicioGroup.get('propietario').status == 'INVALID'">El propietario es obligatorio
        </mat-error>
      </mat-form-field>
      <div class="form-group" fxLayout="row" fxLayoutGap="5px">
        <button [routerLink]="['/estacion-servicio/listar']" fxFlex="auto" mat-raised-button>
          <mat-icon color="warn">undo</mat-icon>
          ATRÁS
        </button>
        <button (click)="store()" [disabled]="estacionServicioGroup.invalid" fxFlex="auto"
                mat-raised-button>
          <mat-icon color="accent">save</mat-icon>
          GUARDAR
        </button>
      </div>

    </form>
  </mat-card-content>
</mat-card>
