<section class="container bg">
  <mat-card class="card-md-2">
    <mat-dialog-content>
      <form (submit)="login()" [formGroup]="loginGroup" class="text-center">
        <img alt="SISTEMA GUV" src="assets/tedo.png">
        <div fxLayout="column">
          <strong>Sistema de Gestión de Uso Vehícular y Control de Combustible</strong>
        </div>
        <div fxLayout="column">
          <mat-form-field>
            <mat-label>Cuenta de Usuario</mat-label>
            <input formControlName="cuenta" matInput oninput="this.value = this.value.toLowerCase()"
                   placeholder="Cuenta">
            <mat-error>La cuenta es obligatoria</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Contraseña de Usuario</mat-label>
            <input [type]="hide ? 'password' : 'text'" formControlName="password"
                   matInput
                   placeholder="Password">
            <mat-icon (click)="hide = !hide" matSuffix>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-error>La contraseña es obligatoria</mat-error>
          </mat-form-field>
        </div>
        <div class="text-center">
          <button [disabled]="loginGroup.invalid"
                  color="primary"
                  mat-raised-button
                  style="width: 100%;"
                  type="submit">
            INGRESAR AL SISTEMA
          </button>
        </div>
      </form>
    </mat-dialog-content>
  </mat-card>
</section>
