<mat-card class="card-md" *ngIf="estacion_servicio !== null">
  <mat-card-content>
    <form (submit)="update()" [formGroup]="estacionServicioGroup">
      <legend>ACTUALIZAR ESTACIÓN DE SERVICIO</legend>
      <mat-radio-group formControlName="activo" class="mat-radio-group">
        <mat-radio-button [value]=1>Activo</mat-radio-button>
        <mat-radio-button [value]=0>Inactivo</mat-radio-button>
      </mat-radio-group>
      <mat-form-field class="divider">
        <input matInput formControlName="razon_social" placeholder="Razon social" #razon_social maxlength="150">
        <mat-hint align="end">{{razon_social.value?.length || 0}}/150</mat-hint>
        <mat-error *ngIf="estacionServicioGroup.get('razon_social').status == 'INVALID'">La razon social es obligatoria</mat-error>
      </mat-form-field>
      <mat-form-field class="divider">
        <input matInput formControlName="nit" placeholder="NIT" #nit maxlength="15">
        <mat-hint align="end">{{nit.value?.length || 0}}/15</mat-hint>
        <mat-error *ngIf="estacionServicioGroup.get('nit').status == 'INVALID'">La nit es obligatoria</mat-error>
      </mat-form-field>
      <mat-form-field class="divider">
        <input matInput formControlName="propietario" placeholder="Propietario" #propietario maxlength="150">
        <mat-hint align="end">{{propietario.value?.length || 0}}/150</mat-hint>
        <mat-error *ngIf="estacionServicioGroup.get('propietario').status == 'INVALID'">La propietario es obligatorio</mat-error>
      </mat-form-field>
      <button mat-raised-button type="submit" color="accent" [disabled]="estacionServicioGroup.status == 'INVALID'">ACTUALIZAR</button>
    </form>
  </mat-card-content>
</mat-card>