<div class="flex-container">
  <button (click)="exportExcel()"
          color="accent"
          mat-raised-button>
    <mat-icon>import_export</mat-icon>
    Exportar en Excel
  </button>
  <span class="spacer"></span>
  <button [routerLink]="['/chofer/crear']"
          color="primary"
          mat-mini-fab
          matTooltip="Nuevo chofer"
          tooltip-position="left">
    <mat-icon>add</mat-icon>
  </button>
</div>
<div class="fni-container mat-elevation-z8">
  <div class="fni-header">
    <mat-form-field>
      <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Buscar...">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="choferes" matSort>
    <ng-container matColumnDef="nombres">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nombres</mat-header-cell>
      <mat-cell *matCellDef="let col"> {{col.nombres | uppercase }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="apellidos">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Apellidos</mat-header-cell>
      <mat-cell *matCellDef="let col"> {{col.apellidos | uppercase }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="carnet">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Carnet</mat-header-cell>
      <mat-cell *matCellDef="let col"> {{ col.carnet }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="tipo">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo</mat-header-cell>
      <mat-cell *matCellDef="let col"> {{ col.tipo | uppercase }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="fecha_inicio_contrato">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Inicio de Contrato</mat-header-cell>
      <mat-cell *matCellDef="let col"> {{ col.fecha_inicio_contrato | date: 'dd/MM/yyyy' }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="fecha_fin_contrato">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Fin de Contrato</mat-header-cell>
      <mat-cell *matCellDef="let col"> {{ col.fecha_fin_contrato | date: 'dd/MM/yyyy' }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Acciones</mat-header-cell>
      <mat-cell *matCellDef="let col; let i = index">
        <button color="accent" mat-button mat-icon-button routerLink="/chofer/editar/{{col.id}}">
          <mat-icon>border_color</mat-icon>
        </button>
        <button (click)="openDialog(col.id, i)" color="warn" mat-button mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="mat-row"></mat-row>
  </mat-table>

  <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="10">
  </mat-paginator>
</div>
