<mat-card class="card-md">
  <mat-card-content>
    <form (submit)="store()" [formGroup]="choferGroup">
      <legend>CREAR CHOFER</legend>
      <mat-form-field class="divider">
        <input matInput formControlName="nombres" placeholder="Nombres" #nombres maxlength="150">
        <mat-hint align="end">{{nombres.value?.length || 0}}/150</mat-hint>
        <mat-error *ngIf="choferGroup.get('nombres').status == 'INVALID'">El nombre es obligatorio</mat-error>
      </mat-form-field>
      <mat-form-field class="divider">
        <input matInput formControlName="apellidos" placeholder="Apellidos" #apellidos maxlength="150">
        <mat-hint align="end">{{apellidos.value?.length || 0}}/150</mat-hint>
        <mat-error *ngIf="choferGroup.get('apellidos').status == 'INVALID'">El apellido es obligatorio</mat-error>
      </mat-form-field>
      <mat-form-field class="divider">
        <input matInput formControlName="carnet" placeholder="Carnet" #carnet maxlength="10">
        <mat-hint align="end">{{carnet.value?.length || 0}}/10</mat-hint>
        <mat-error *ngIf="choferGroup.get('carnet').status == 'INVALID'">El carnet es obligatorio</mat-error>
      </mat-form-field>
      <mat-form-field class="divider">
        <label class="label">Tipo</label>
        <mat-select name="tipo" formControlName="tipo" class="full-width">
          <mat-option *ngFor="let tipo of tipos" [value]="tipo.key" >
            {{ tipo.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput [matDatepicker]="fecha_inicio_contrato" placeholder="Fecha de inicio de contrato"
               formControlName="fecha_inicio_contrato">
        <mat-datepicker-toggle matSuffix [for]="fecha_inicio_contrato"></mat-datepicker-toggle>
        <mat-datepicker #fecha_inicio_contrato></mat-datepicker>
      </mat-form-field>
      <mat-datepicker #fecha_inicio_contrato></mat-datepicker>
      <mat-form-field class="full-width">
        <input matInput [matDatepicker]="fecha_fin_contrato" placeholder="Fecha de fin de contrato"
               formControlName="fecha_fin_contrato">
        <mat-datepicker-toggle matSuffix [for]="fecha_fin_contrato"></mat-datepicker-toggle>
        <mat-datepicker #fecha_fin_contrato></mat-datepicker>
      </mat-form-field>
      <mat-datepicker #fecha_fin_contrato></mat-datepicker>

      <button mat-raised-button type="submit" color="primary" [disabled]="choferGroup.status == 'INVALID'">GUARDAR</button>
    </form>
  </mat-card-content>
</mat-card>