<mat-card *ngIf="taller_mecanico !== null" class="card-md">
  <mat-card-header fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
    <button color="accent" mat-button mat-icon-button>
      <mat-icon>build</mat-icon>
    </button>
    EDITAR TALLER MECÁNICO
  </mat-card-header>

  <mat-card-content>
    <form (submit)="update()" [formGroup]="tallerMecanicoGroup">
      <mat-form-field class="divider">
        <input #identificacion formControlName="identificacion" matInput maxlength="150" placeholder="Identificacion">
        <mat-hint align="end">{{identificacion.value?.length || 0}}/150</mat-hint>
        <mat-error *ngIf="tallerMecanicoGroup.get('identificacion').status == 'INVALID'">La identificación es
          obligatoria
        </mat-error>
      </mat-form-field>
      <mat-form-field class="divider">
        <input #nombre formControlName="nombre" matInput maxlength="150" placeholder="Nombre">
        <mat-hint align="end">{{nombre.value?.length || 0}}/150</mat-hint>
        <mat-error *ngIf="tallerMecanicoGroup.get('nombre').status == 'INVALID'">El nombre es obligatorio</mat-error>
      </mat-form-field>
      <mat-form-field class="divider">
        <input #direccion formControlName="direccion" matInput maxlength="150" placeholder="Dirección">
        <mat-hint align="end">{{direccion.value?.length || 0}}/150</mat-hint>
        <mat-error *ngIf="tallerMecanicoGroup.get('direccion').status == 'INVALID'">La dirección es obligatoria
        </mat-error>
      </mat-form-field>
      <mat-form-field class="divider">
        <input #telefono formControlName="telefono" matInput maxlength="15" placeholder="Telefono">
        <mat-hint align="end">{{telefono.value?.length || 0}}/15</mat-hint>
        <mat-error *ngIf="tallerMecanicoGroup.get('telefono').status == 'INVALID'">El telefono es obligatorio
        </mat-error>
      </mat-form-field>
      <mat-form-field class="divider">
        <input #nit formControlName="nit" matInput maxlength="150" placeholder="NIT">
        <mat-hint align="end">{{nit.value?.length || 0}}/150</mat-hint>
        <mat-error *ngIf="tallerMecanicoGroup.get('nit').status == 'INVALID'">El NIT es obligatorio</mat-error>
      </mat-form-field>
      <mat-form-field class="divider">
        <input #nombre_propietario formControlName="nombre_propietario" matInput maxlength="150"
               placeholder="Nombre del propietario">
        <mat-hint align="end">{{nit.value?.length || 0}}/150</mat-hint>
        <mat-error *ngIf="tallerMecanicoGroup.get('nombre_propietario').status == 'INVALID'">El nombre del propietario
          es obligatorio
        </mat-error>
      </mat-form-field>
      <button [disabled]="tallerMecanicoGroup.status == 'INVALID'" color="accent" mat-raised-button type="submit">
        ACTUALIZAR
      </button>
    </form>
  </mat-card-content>
</mat-card>
