<mat-card *ngIf="chofer !== null" class="card-md">
  <mat-card-header fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
    <button color="accent" mat-button mat-icon-button>
      <mat-icon>face</mat-icon>
    </button>
    EDITAR CHOFER
  </mat-card-header>
  <mat-card-content>
    <form (submit)="update()" [formGroup]="choferGroup">

      <mat-form-field class="divider">
        <input #nombres formControlName="nombres" matInput maxlength="150" placeholder="Nombres">
        <mat-hint align="end">{{nombres.value?.length || 0}}/150</mat-hint>
        <mat-error *ngIf="choferGroup.get('nombres').status == 'INVALID'">El nombre es obligatorio</mat-error>
      </mat-form-field>

      <mat-form-field class="divider">
        <input #apellidos formControlName="apellidos" matInput maxlength="150" placeholder="Apellidos">
        <mat-hint align="end">{{apellidos.value?.length || 0}}/150</mat-hint>
        <mat-error *ngIf="choferGroup.get('apellidos').status == 'INVALID'">El apellido es obligatorio</mat-error>
      </mat-form-field>

      <mat-form-field class="divider">
        <input #carnet formControlName="carnet" matInput maxlength="10" placeholder="Carnet">
        <mat-hint align="end">{{carnet.value?.length || 0}}/10</mat-hint>
        <mat-error *ngIf="choferGroup.get('carnet').status == 'INVALID'">El carnet es obligatorio</mat-error>
      </mat-form-field>

      <mat-form-field class="divider">
        <label class="label">Tipo</label>
        <mat-select class="full-width" formControlName="tipo" name="tipo">
          <mat-option *ngFor="let tipo of tipos" [value]="tipo.key">
            {{ tipo.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button [disabled]="choferGroup.status == 'INVALID'" color="accent" mat-raised-button type="submit">ACTUALIZAR
      </button>
    </form>
  </mat-card-content>
</mat-card>
