<!--<div class="flex-container-center">
  <a><mat-icon>add</mat-icon></a><a>Asignaciones / listar</a>
</div>-->
<div class="flex-container">
  <span class="titulo">Lista de Vales de Combustible</span>

  <span class="spacer"></span>

  <button color="primary"
          mat-mini-fab
          matTooltip="Nueva vale de gasolina"
          matTooltipPosition="left"
          routerLink="/{{user?.tipo}}/vale-combustible/crear">
    <mat-icon>add</mat-icon>
  </button>  <!--
-->
  &nbsp;&nbsp;&nbsp;
  <!--  <button (click)="exportExcel()"
            color="accent"
            mat-raised-button>
      <mat-icon>import_export</mat-icon>
      Exportar en Excel
    </button>-->
</div>

<div class="fni-container mat-elevation-z8">
  <div class="fni-header">
    <mat-form-field>
      <input (keyup)="search($event.target.value)" matInput placeholder="Buscar vales de gasolinas...">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="vale_combustibles" matSort>
    <ng-container matColumnDef="numero_vale">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Número de Vale</mat-header-cell>
      <mat-cell *matCellDef="let  col"> {{ col.numero_vale | uppercase }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="motivo_viaje">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Motivo de Viaje</mat-header-cell>
      <mat-cell *matCellDef="let col"> {{ col.motivo_viaje | uppercase }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="litros">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Litros</mat-header-cell>
      <mat-cell *matCellDef="let col"> {{ col.litros | number: '1.2-2' }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="importe">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Importe</mat-header-cell>
      <mat-cell *matCellDef="let col"> {{ col.importe | number: '1.2-2' }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="kilometraje">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Kilometraje Actual</mat-header-cell>
      <mat-cell *matCellDef="let col"> {{ col.kilometraje?.actual }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="chofer">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Chofer</mat-header-cell>
      <mat-cell
        *matCellDef="let col"> {{ col.asignacion_vehiculo?.chofer?.nombres | uppercase }} {{ col.asignacion_vehiculo?.chofer?.apellidos | uppercase }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="vehiculo">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Placa de Vehículo</mat-header-cell>
      <mat-cell *matCellDef="let col"> {{ col.asignacion_vehiculo?.vehiculo?.placa }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="estacion_servicio">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Estación de Servicio</mat-header-cell>
      <mat-cell *matCellDef="let col"> {{ col.estacion_servicio.razon_social }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="registrado">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Registrado</mat-header-cell>
      <mat-cell *matCellDef="let col"> {{ col.created_at | date: 'dd/MM/y HH:mm:ss' }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Acciones</mat-header-cell>
      <mat-cell *matCellDef="let col; let i = index">
        <!--        <button color="accent" mat-button mat-icon-button routerLink="/vehiculo/editar/{{col.id}}">
                  <mat-icon>border_color</mat-icon>
                </button>&ndash;&gt;-->
        <button (click)="exportReporte(col)" color="primary" mat-button mat-icon-button>
          <mat-icon>get_app</mat-icon>
        </button>
        <button (click)="openDialog(col.id, i)" color="warn" mat-button mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="5">
  </mat-paginator>
</div>
