<mat-card class="card-md">
  <mat-card-header fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
    <button color="accent" mat-button mat-icon-button>
      <mat-icon>person_add</mat-icon>
    </button>
    ASIGNAR VEHICULO
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="asignacionVehiculoGroup" class="form">
      <div class="form-group">
        <label for="chofer_id">Seleccionar Chofer</label>
        <ng-select [items]="choferes"
                   bindLabel="resumen"
                   bindValue="id"
                   class="form-control"
                   formControlName="chofer_id"
                   id="chofer_id"></ng-select>
      </div>
      <div class="form-group">
        <label for="vehiculo_id">Seleccionar Vehiculo</label>
        <ng-select [items]="vehiculos"
                   bindLabel="placa"
                   bindValue="id"
                   formControlName="vehiculo_id"
                   id="vehiculo_id"></ng-select>
      </div>
      <div class="form-group" fxLayout="row" fxLayoutGap="5px">
        <button fxFlex="auto" mat-raised-button routerLink="/{{user?.tipo}}/asignacion-vehiculo/listar">
          <mat-icon color="warn">undo</mat-icon>
          ATRÁS
        </button>
        <button (click)="store()" [disabled]="asignacionVehiculoGroup.invalid" fxFlex="auto"
                mat-raised-button>
          <mat-icon color="accent">save</mat-icon>
          GUARDAR
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
