<!--<div class="flex-container-center">
  <a><mat-icon>add</mat-icon></a><a>ASIGNACIONES / CREAR</a>
</div>-->
<mat-card class="card-md">
  <mat-card-header class="card-header">
    ASIGNAR VEHICULO
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="asignacionVehiculoGroup" class="form">
      <div class="form-group">
        <label for="chofer_id">Seleccionar Chofer</label>
        <ng-select [items]="choferes"
                   bindLabel="resumen"
                   bindValue="id"
                   formControlName="chofer_id"
                   id="chofer_id"></ng-select>
      </div>
      <div class="form-group">
        <label for="vehiculo_id">Seleccionar Vehiculo</label>
        <ng-select [items]="vehiculos"
                   bindLabel="resumen"
                   bindValue="id"
                   formControlName="vehiculo_id"
                   id="vehiculo_id"></ng-select>
      </div>

      <div class="form-group">
        <button [routerLink]="['/asignacion-vehiculo/listar']" color="default" mat-flat-button>
          CANCELAR
        </button>
        <button (click)="store()" [disabled]="asignacionVehiculoGroup.invalid" color="primary" mat-raised-button
                type="submit">
          GUARDAR
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
