@import '../node_modules/@angular/material/theming';
@import "~@ng-select/ng-select/themes/default.theme.css";

@include mat-core();

$custom-theme-primary: mat-palette($mat-indigo, 900);
$custom-theme-accent: mat-palette($mat-blue, A200, A100, A400);
$custom-theme-warn: mat-palette($mat-red);

$custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);

@include angular-material-theme($custom-theme);

.mat-row:nth-child(2n+1) {
  background-color: #e4f0ec;
}

.mat-row:not(:nth-child(4n+1)) {
  background-color: #ffffff;
}

/*bootstrap customized*/
.form-group {
  display: block;
  width: 100%;
  padding: 0.25em 0;
  label {
    display: block;
    padding: 1em 0;
    font-weight: bold;
  }
}
