<div class="flex-container">

  <span class="titulo">Lista de Usuarios</span>

  <span class="spacer"></span>
  <button [routerLink]="['/usuario/crear']"
          color="primary"
          mat-mini-fab
          matTooltip="Nuevo usuario"
          tooltip-position="left">
    <mat-icon>add</mat-icon>
  </button>
  &nbsp;&nbsp;&nbsp;
  <button (click)="exportExcel()"
          color="accent"
          mat-raised-button>
    <mat-icon>import_export</mat-icon>
    Exportar en Excel
  </button>
</div>
<div class="fni-container mat-elevation-z8">
  <div class="fni-header">
    <mat-form-field>
      <input (keyup)="applyFilter($event.target?.value)" matInput placeholder="Buscar...">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="users" matSort>
    <ng-container matColumnDef="tipo_usuario">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de Usuario</mat-header-cell>
      <mat-cell *matCellDef="let col">
        <span *ngIf="col.administrador !== null">Administrador</span>
        <span *ngIf="col.servicio_general !== null"> Servicio General</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="cuenta">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Cuenta</mat-header-cell>
      <mat-cell *matCellDef="let col"> {{col.cuenta}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="carnet">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Carnet</mat-header-cell>
      <mat-cell *matCellDef="let col"> {{col.carnet}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="nombres">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nombres</mat-header-cell>
      <mat-cell *matCellDef="let col"> {{col.nombres | uppercase }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="apellidos">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Apellidos</mat-header-cell>
      <mat-cell *matCellDef="let col"> {{col.apellidos | uppercase }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Acciones</mat-header-cell>
      <mat-cell *matCellDef="let col; let i = index">
        <button color="accent" mat-button mat-icon-button routerLink="/usuario/editar/{{col.id}}">
          <mat-icon>border_color</mat-icon>
        </button>
        <button (click)="openDialog(col.id, i)" color="warn" mat-button mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="5">
  </mat-paginator>
</div>
