<mat-card class="card-md">
  <mat-card-header fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
    <button color="accent" mat-button mat-icon-button>
      <mat-icon>person_add</mat-icon>
    </button>
   Suministro de Combustible
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="suminsitroCombustibleGroup" class="form">

      <div class="form-group">
        <label for="vehiculo_id">Seleccionar Vehiculo</label>
        <ng-select [items]="vehiculos"
                   bindLabel="placa"
                   bindValue="id"
                   formControlName="vehiculo_id"
                   id="vehiculo_id"></ng-select>
      </div>

      <mat-form-field>
        <input #combustible formControlName="combustible" matInput maxlength="150" placeholder="Combustible">
        <mat-hint align="end">{{combustible.value?.length || 0}}/150</mat-hint>
        <mat-error *ngIf="suminsitroCombustibleGroup.get('combustible').status == 'INVALID'">El combustible es obligatorio</mat-error>
      </mat-form-field>


      <div class="form-group" fxLayout="row" fxLayoutGap="5px">
        <button [routerLink]="['/suministro-combustible/listar']" fxFlex="auto" mat-raised-button>
          <mat-icon color="warn">undo</mat-icon>
          ATRÁS
        </button>
        <button (click)="store()" [disabled]="suminsitroCombustibleGroup.invalid" fxFlex="auto"
                mat-raised-button>
          <mat-icon color="accent">save</mat-icon>
          GUARDAR
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
