<mat-card class="card-md">
  <mat-card-header fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
    <button color="accent" mat-button mat-icon-button>
      <mat-icon>drive_eta</mat-icon>
    </button>
    CREAR VEHÍCULO
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="vehiculoGroup">
      <!--      <mat-radio-group formControlName="activo" class="mat-radio-group">
              <mat-radio-button [value]=1>Activo</mat-radio-button>
              <mat-radio-button [value]=0>Inactivo</mat-radio-button>
            </mat-radio-group>-->
      <mat-form-field>
        <input #placa formControlName="placa" matInput maxlength="150" placeholder="Placa">
        <mat-hint align="end">{{placa.value?.length || 0}}/150</mat-hint>
        <mat-error *ngIf="vehiculoGroup.get('placa').status == 'INVALID'">La placa es obligatoria</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input #marca formControlName="marca" matInput maxlength="150" placeholder="Marca">
        <mat-hint align="end">{{marca.value?.length || 0}}/150</mat-hint>
        <mat-error *ngIf="vehiculoGroup.get('marca').status == 'INVALID'">La marca es obligatoria</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input #modelo formControlName="modelo" matInput maxlength="10" placeholder="Modelo">
        <mat-hint align="end">{{modelo.value?.length || 0}}/10</mat-hint>
        <mat-error *ngIf="vehiculoGroup.get('modelo').status == 'INVALID'">El modelo es obligatorio</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input #color formControlName="color" matInput maxlength="10" placeholder="Color">
        <mat-hint align="end">{{color.value?.length || 0}}/10</mat-hint>
        <mat-error *ngIf="vehiculoGroup.get('color').status == 'INVALID'">El color es obligatorio</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input #cilindrada formControlName="cilindrada" matInput placeholder="Cilindrada" type="number">
        <mat-error *ngIf="vehiculoGroup.get('cilindrada').status == 'INVALID'">El cilindrada es obligatorio</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input #gestion formControlName="gestion" matInput maxlength="10" placeholder="Gestion">
        <mat-hint ali-gn="end">{{gestion.value?.length || 0}}/10</mat-hint>
        <mat-error *ngIf="vehiculoGroup.get('gestion').status == 'INVALID'">La gestion es obligatoria</mat-error>
      </mat-form-field>

      <div class="form-group" fxLayout="row" fxLayoutGap="5px">
        <button [routerLink]="['/vehiculo/listar']" fxFlex="auto" mat-raised-button>
          <mat-icon color="warn">undo</mat-icon>
          ATRÁS
        </button>
        <button (click)="store()" [disabled]="vehiculoGroup.invalid" fxFlex="auto"
                mat-raised-button>
          <mat-icon color="accent">save</mat-icon>
          GUARDAR
        </button>
      </div>

    </form>
  </mat-card-content>
</mat-card>
