<!--<div class="flex-container-center">
  <a><mat-icon>add</mat-icon></a><a>Asignaciones / listar</a>
</div>-->
<div class="flex-container">
  <span class="titulo">Lista-Asignacion Vehículos</span>

  <span class="spacer"></span>
  <button [routerLink]="['/asignacion-vehiculo/crear']"
          color="primary"
          mat-mini-fab
          matTooltip="Nueva asignación"
          tooltip-position="left">
    <mat-icon>add</mat-icon>
  </button>
  &nbsp;&nbsp;&nbsp;
  <button (click)="exportExcel()"
          color="accent"
          mat-raised-button>
    <mat-icon>import_export</mat-icon>
    Exportar en Excel
  </button>
</div>

<div class="fni-container mat-elevation-z8">
  <div class="fni-header">
    <mat-form-field>
      <input (keyup)="search($event.target.value)" matInput placeholder="Buscar asignacion de vehiculos...">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="asignaciones" matSort>
    <ng-container matColumnDef="nombres">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nombres</mat-header-cell>
      <mat-cell *matCellDef="let  col"> {{col.chofer.nombres | uppercase }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="apellidos">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Apellidos</mat-header-cell>
      <mat-cell *matCellDef="let col"> {{col.chofer.apellidos | uppercase }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="carnet">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Carnet</mat-header-cell>
      <mat-cell *matCellDef="let col"> {{col.chofer.carnet | uppercase }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="tipo">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de Chofer</mat-header-cell>
      <mat-cell *matCellDef="let col"> {{col.chofer.tipo | uppercase }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="placa">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Placa</mat-header-cell>
      <mat-cell *matCellDef="let col"> {{col.vehiculo.placa | uppercase }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="marca">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Marca</mat-header-cell>
      <mat-cell *matCellDef="let col"> {{col.vehiculo.marca | uppercase }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="modelo">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Modelo</mat-header-cell>
      <mat-cell *matCellDef="let col"> {{ col.vehiculo.modelo }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="color">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Color</mat-header-cell>
      <mat-cell *matCellDef="let col"> {{ col.vehiculo.color }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="cilindrada">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Cilindrada</mat-header-cell>
      <mat-cell *matCellDef="let col"> {{ col.vehiculo.cilindrada }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="gestion">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Gestión</mat-header-cell>
      <mat-cell *matCellDef="let col"> {{ col.vehiculo.gestion }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Acciones</mat-header-cell>
      <mat-cell *matCellDef="let col; let i = index">
        <!--        <button color="accent" mat-button mat-icon-button routerLink="/vehiculo/editar/{{col.id}}">
                  <mat-icon>border_color</mat-icon>
                </button>-->
        <button (click)="openDialog(col.id, i)" color="warn" mat-button mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="5">
  </mat-paginator>
</div>
