<mat-card class="card-md" *ngIf="vehiculo !== null">
  <mat-card-content>
    <form (submit)="update()" [formGroup]="vehiculoGroup">
      <legend>ACTUALIZAR VEHICULO</legend>
      <mat-radio-group formControlName="activo" class="mat-radio-group">
        <mat-radio-button [value]=1>Activo</mat-radio-button>
        <mat-radio-button [value]=0>Inactivo</mat-radio-button>
      </mat-radio-group>
      <mat-form-field class="divider">
        <input matInput formControlName="placa" placeholder="Placa" #placa maxlength="150">
        <mat-hint align="end">{{placa.value?.length || 0}}/150</mat-hint>
        <mat-error *ngIf="vehiculoGroup.get('placa').status == 'INVALID'">La placa es obligatoria</mat-error>
      </mat-form-field>
      <mat-form-field class="divider">
        <input matInput formControlName="marca" placeholder="Marca" #marca maxlength="150">
        <mat-hint align="end">{{marca.value?.length || 0}}/150</mat-hint>
        <mat-error *ngIf="vehiculoGroup.get('marca').status == 'INVALID'">La marca es obligatoria</mat-error>
      </mat-form-field>
      <mat-form-field class="divider">
        <input matInput formControlName="modelo" placeholder="Modelo" #modelo maxlength="150">
        <mat-hint align="end">{{modelo.value?.length || 0}}/150</mat-hint>
        <mat-error *ngIf="vehiculoGroup.get('modelo').status == 'INVALID'">La modelo es obligatorio</mat-error>
      </mat-form-field>
      <mat-form-field class="divider">
        <input matInput formControlName="color" placeholder="Color" #color maxlength="150">
        <mat-hint align="end">{{color.value?.length || 0}}/150</mat-hint>
        <mat-error *ngIf="vehiculoGroup.get('color').status == 'INVALID'">La color es obligatorio</mat-error>
      </mat-form-field>
      <mat-form-field class="divider">
        <input matInput formControlName="cilindrada" placeholder="Cilindrada" #cilindrada maxlength="150">
        <mat-hint align="end">{{cilindrada.value?.length || 0}}/150</mat-hint>
        <mat-error *ngIf="vehiculoGroup.get('cilindrada').status == 'INVALID'">La cilindrada es obligatoria</mat-error>
      </mat-form-field>
      <mat-form-field class="divider">
        <input matInput formControlName="gestion" placeholder="Gestión" #gestion maxlength="150">
        <mat-hint align="end">{{gestion.value?.length || 0}}/150</mat-hint>
        <mat-error *ngIf="vehiculoGroup.get('gestion').status == 'INVALID'">La gestión es obligatoria</mat-error>
      </mat-form-field>

      <button mat-raised-button type="submit" color="accent" [disabled]="vehiculoGroup.status == 'INVALID'">ACTUALIZAR</button>
    </form>
  </mat-card-content>
</mat-card>